@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Roboto);

h1, h2, h3, h4, .h1, .h2, .h3, .main-title, .main-subtitle {
  font-family: Lato;
  font-weight: normal;
  color: #1e5e2f;
}

a {
    color: #f58e80;
    text-decoration: none;
}

a:hover {
  color: #f3b7b6;
}

body { font-family: Roboto; }

.navbar {
  background: #fce7bb;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px 2px rgba(0,0,0,.15);
  border: none;
  min-height: 40px;
}

.navbar.bg-primary {
  background-image: linear-gradient(to bottom, #e9f1c7, #dae79f);
}


.navbar-brand {
    color: #182828;
}

.navbar-brand:hover {
    color: #699c4b;
}

.navbar-nav .nav-link {
    color: rgba(24,40,40,0.8);
}

.navbar-nav .nav-link:hover {
    color: rgba(24,40,40,0.8);
}

.navbar-nav .nav-link:focus {
    color: rgba(24,40,40,0.8);
}

.navbar-nav .active>.nav-link {
  background-color: #B7CD96;
  color: white;
}

.nav-item:selection {
  background-color: #cde3ac;
}

.nav-item:hover {
  background-color: #cde3ac;
}

.dropdown-item:hover {
  background-color: #779e3c;
}

.navlink:hover {
  background-color: #f8fcfc;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus .navbar-nav>.drop>a:hover{
    color: #ffffff;
    background-color: #003A70;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    color: #ffffff;
    background-color: #003A70;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    color: #ffffff;
    text-decoration: none;
    background-color: #003A70;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #ffffff;
    background-color: #003A70;
}

.row>main, .row>aside {
  margin-top: 100px;
}

pre {
    background-color: #f8fcfc;
}

.text-muted {
  color: #B7CD96!important;
}